bin/Release
bin/Debug
*.swp
*.userprefs
**/obj
/packages
!/packages/*.config
/src/*.suo
/bin/*.nupkg
/src/.vs
/paket-files
/.fake
/.paket
/Aardvark.log
/src/Example/bin/Debug/netcoreapp2.0
/src/Example/bin/Release/netcoreapp2.0
